@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Caveat:wght@600&family=Kaushan+Script&family=Redressed&display=swap');
/* head */
.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  background-color: black;
  color: snow;
}
.head .img_banner {
  border-radius: 30px;
  padding: 20px;
}
.head .banner_text {
  padding: 0 5px;
  margin-right: 4px;
}

.head .banner_text h2 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2em;
  padding: 10px 0;
  text-align: center;
}
.head .banner_text p {
  font-family: 'Redressed', cursive;
  font-size: larger;
  padding:0 11px;
  padding-bottom: 50px;
  text-align: justify;
}

/* Movie_info */
.Movie_info {
  width: 100%;
  height: fit-content;
  background-color: black;
  color: snow;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Movie_info h2 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: xx-large;
  text-align: center;
  padding: 10px 30px;
}
.Movie_info table {
  font-family: 'Redressed', cursive;
  font-size: x-large;
  padding: 0 3px;
  padding-bottom: 50px;
}

.Movie_info table th {
  padding-right: 10px;
}

/* download */
.download {
  width: 100%;
  height: fit-content;
  background-color: black;
  color: snow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download h2 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: xx-large;
  padding: 30px;
}
.download a button {
  font-family: 'Redressed', cursive;
  padding: 10px 50px;
  cursor: pointer;
  font-size: large;
  background-color: black;
  color: snow;
  margin-bottom: 30px;
  border-radius: 20px;
}
.download a button:hover {
  background-color: rgb(17, 17, 17);
}

/* media */
@media (max-width: 700px) {
  .head {
    flex-direction: column;
  }
}
