@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Caveat:wght@600&family=Kaushan+Script&family=Redressed&display=swap');
/* head */
.section {
  height: fit-content;
  background-color: black;
  color: snow;
}

.section p , h2{
  padding: 10px 5px;
  width: 90%;
  text-align: center;
}